MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database
SATTA_KING_FAST_MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database
NEXT_PUBLIC_WHATSAPP_NUMBER=1234567890
NEXT_PUBLIC_SITE_URL=https://a7satta.co

CRON_SECRET=your_cron_secret_here
